body,
html {
    padding: 0;
    margin: 0;
}

.container {
    height: 100hv;
}

.home {}

.conten-1,
.conten-2,
.conten-3 {
    display: none;
}

.nama-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.gif {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif-image {
    width: 80%;
}

.nama-container h5 {
    margin-bottom: -10px;
    color: #1d1d1d;
    font-size: 15px;
    font-family: Georgia, serif;
}

.nama-container h3 {
    font-weight: bold;
    font-size: 23px;
    font-family: 'Forever Brush Script', cursive;
    font-style: italic;
    color: #000;
}

.batang {
    position: fixed;
    bottom: 0;
    right: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.img-batang {
    height: calc(100vh * 0.25);
    margin-bottom: -4px;
    animation: fadeIn 4s ease-in-out;
}

.batang-2 {
    position: fixed;
    top: 0;
    left: 0;
}

.button-next {
    width: 120px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.1);
    backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-next button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.lampu {
    position: fixed;
    top: 0;
    left: 0;
}

.img-lampu {
    height: calc(100vh * 0.15);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.gambar-1 {
    position: fixed;
    top: 0;
    right: 0;
}

.img-1 {
    height: calc(100vh * 0.25);
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.kipas {
    position: fixed;
    bottom: 0;
    right: 0;
}

.img-kipas {
    height: calc(100vh * 0.25);
}

.isi-conten-1 {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.isi-conten-1 h3 {
    font-family: acme, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    animation: fadeIn 4s ease-in-out;
}

.isi-conten-1 h5 {
    font-family: serif;
    font-size: 20px;
    color: #1d1d1d;
    font-style: italic;
    margin-top: -10px;
    animation: fadeIn 5s ease-in-out;
}

.ucapan {
    display: flex;
    align-items: center;
    width: calc(100vw * 0.50);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.img-ucapan {
    height: calc(100vh * 0.30);
    margin-left: 20px;
    animation: fadeIn 6s ease-in-out;
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.363);
}

.ucapan h5 {
    font-family: Georgia, serif;
    font-size: 15px;
    color: #1d1d1d;
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
    animation: fadeIn 7s ease-in-out;
}

.button-1 {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.1);
    backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: fadeIn 4s ease-in-out;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.button-1 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container-galery {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.363);
}

.container-galery h3 {
    font-family: 'Forever Brush Script', cursive;
    font-style: italic;
    font-size: 23px;
    font-weight: bold;
    color: #000;
}

.galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.img-galery {
    width: 100%;
    height: calc(100vh * 0.20);
    display: block;
    object-fit: cover;
}

.pot {
    position: fixed;
    bottom: 0;
    left: 0;
}

.img-pot {
    height: calc(100vh * 0.20);
    margin-bottom: -4px;
    margin-left: 15px;
}

.img-cat {
    height: calc(100vh * 0.12);
    margin-bottom: -11px;
    margin-left: -5px;
}

.button-2 {
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(51, 51, 51, 0.1);
    backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-2 button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-conten-3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 1;
}

.card {
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(21 21 21 / 17%);
    height: calc(100vh * 0.50);
    width: 70%;
    padding: 10px;
}

.bunga-atas {
    position: absolute;
    top: -15%;
    left: -5%;
    z-index: 1;
}

.bunga-atas-kanan {
    position: absolute;
    top: -25%;
    right: 0;
    z-index: 1;
}

.bunga-bawah {
    position: absolute;
    bottom: -25%;
    left: -2%;
    z-index: 1;
}

.bunga-bawah-kanan {
    position: absolute;
    bottom: -25%;
    right: -10%;
    z-index: 1;
}

.img-bunga-atas,
.img-bunga-bawah,
.img-bunga-atas-kanan,
.img-bunga-bawah-kanan {
    height: calc(100vh * 0.40);
}

.img-bunga-bawah-kanan {
    height: calc(100vh * 0.50);
}

.card h3 {
    font-family: acme, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    animation: fadeIn 4s ease-in-out;
}

@media (max-width: 768px) {
    .img-batang {
        height: calc(100vh * 0.20);
    }

    .img-1 {
        height: calc(100vh * 0.15);
    }

    .img-lampu {
        height: calc(100vh * 0.10);
    }

    .img-kipas {
        height: calc(100vh * 0.20);
    }

    .isi-conten-1 {
        top: 20%;
    }

    .isi-conten-1 h3 {
        font-size: 25px;
    }

    .isi-conten-1 h5 {
        font-size: 18px;
    }

    .ucapan {
        display: grid;
        place-items: center;
        width: calc(100vw * 0.90);
    }

    .img-ucapan {
        height: calc(100vh * 0.30);
        margin: 0;
    }

    .ucapan h5 {
        font-size: 11px;
    }

    .container-galery {
        width: calc(100vw* 0.90);
        top: 45%;
    }

    .container-galery h3 {
        font-size: 20px;
    }

    .img-galery {
        height: calc(100vh * 0.16);
    }

    .img-pot {
        height: calc(100vh * 0.20);
        margin-left: 5px;
    }

    .container-conten-3 {
        width: calc(100vw* 0.90);
    }

    .card {
        width: 80%;
    }

    .bunga-atas {
        left: -10%;
    }

    .bunga-bawah {
        bottom: -16%;
        left: -8%;
    }

    .bunga-atas-kanan {
        top: -20%;
        right: -12%;
    }

    .bunga-bawah-kanan {
        bottom: -18%;
        right: -30%;
    }

    .img-bunga-atas-kanan,
    .img-bunga-bawah {
        height: calc(100vh * 0.30);
    }

    .img-bunga-bawah-kanan {
        height: calc(100vh * 0.45);
    }

}